/*  your css code here. If applicable */
h1{
	text-align: center;
}

h2{
		text-align: center;

}

h3{
		text-align: center;

}

.player_one{
		background-color: rgb(255, 255, 255); padding; border-radius
}

